@font-face {
    font-family: "Lato";
    src: url("Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("Lato/Lato-Bold.ttf");
}

@import "components/button";
@import "components/menu-button";
@import "components/combobox";
@import "components/checkbox";
@import "components/scrollbar";
@import "components/textfield";
@import "components/radiobutton";
@import "components/slider";
@import "components/tabs";
@import "components/notification-pane";
@import "components/menu";
@import "components/toggle-button";
@import "components/list";
@import "components/dark-list";
@import "components/progress-bar";
@import "components/progress-indicator";
@import "components/dialog";
@import "components/treeview";
@import "components/tableview";
@import "components/settings";
@import "components/color-view";
@import "components/tool-bar";
@import "components/icon";

@import "views/about-view";
@import "views/application-loading-view";
@import "views/launch-dialog";
@import "views/pad-view";
@import "views/main-view";
@import "views/project-loading";

.root {
    -fx-base: rgb(20, 20, 20);
    -fx-font-family: Lato sans-serif;
}

.window-title {
    -fx-font-weight: bold;
}

.circle {
    -fx-background-radius: 50%;
}
