@use "sass:meta";

@font-face {
    font-family: "Lato";
    src: url("Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("Lato/Lato-Bold.ttf");
}

@include meta.load-css("components/button");
@include meta.load-css("components/menu-button");
@include meta.load-css("components/combobox");
@include meta.load-css("components/checkbox");
@include meta.load-css("components/scrollbar");
@include meta.load-css("components/textfield");
@include meta.load-css("components/radiobutton");
@include meta.load-css("components/slider");
@include meta.load-css("components/tabs");
@include meta.load-css("components/notification-pane");
@include meta.load-css("components/menu");
@include meta.load-css("components/toggle-button");
@include meta.load-css("components/list");
@include meta.load-css("components/dark-list");
@include meta.load-css("components/progress-bar");
@include meta.load-css("components/progress-indicator");
@include meta.load-css("components/dialog");
@include meta.load-css("components/treeview");
@include meta.load-css("components/tableview");
@include meta.load-css("components/settings");
@include meta.load-css("components/color-view");
@include meta.load-css("components/tool-bar");
@include meta.load-css("components/icon");
@include meta.load-css("components/drag");
@include meta.load-css("components/scroll-pane");
@include meta.load-css("components/spinner");
@include meta.load-css("components/toast");

@include meta.load-css("views/about-view");
@include meta.load-css("views/application-loading-view");
@include meta.load-css("views/launch-dialog");
@include meta.load-css("views/pad-view");
@include meta.load-css("views/main-view");
@include meta.load-css("views/project-loading");

.root {
    -fx-base: rgb(20, 20, 20);
    -fx-font-family: Lato sans-serif;
}

.window-title {
    -fx-font-weight: bold;
}

.circle {
    -fx-background-radius: 50%;
}
