@use "variables";

.button {
    -fx-background-color: variables.$component-background-color;
    -fx-text-fill: variables.$component-text-color;
    -fx-background-radius: variables.$component-border-radius;
    -fx-font-size: variables.$component-text-size;
    -fx-border-width: 0;
    -fx-padding: 6 16 6 16;

    &.danger {
        -fx-background-color: variables.$danger-color;
    }

    &:default {
        -fx-background-color: variables.$primary-color;
        -fx-text-fill: variables.$component-text-color;
    }

    &:hover, &:focused {
        -fx-background-color: variables.$component-background-color-hover;

        &:default {
            -fx-background-color: variables.$primary-color-hover;
        }

        &.danger {
            -fx-background-color: variables.$danger-color-hover;
        }
    }
}
