@use "variables";

.button {
    -fx-background-color: variables.$component-background-color;
    -fx-text-fill: variables.$component-text-color;
    -fx-background-radius: 3px;
    -fx-font-size: 1.1em;
    -fx-border-width: 0;

    &.danger {
        -fx-background-color: variables.$danger-color;
    }

    &:focused {
        -fx-background-color: variables.$primary-color;
        -fx-text-fill: variables.$component-text-color;

        &.danger {
            -fx-background-color: variables.$danger-color;
        }
    }

    &:hover {
        -fx-background-color: variables.$component-hover-background-color;
        -fx-text-fill: variables.$component-text-color;

        &.danger {
            -fx-background-color: variables.$danger-color;
        }
    }

    &:default {
        -fx-background-color: variables.$primary-color;
        -fx-text-fill: variables.$component-text-color;
    }
}
