@use "variables";

.combo-box {
  -fx-background-color: variables.$component-background-color;
    -fx-background-radius: 3px;


    .list-cell {
        -fx-background-color: #6d6d6d;
      -fx-text-fill: variables.$component-text-color;
        -fx-pref-height: 30px;
    }

    .list-cell:hover {
      -fx-background-color: variables.$component-hover-background-color;
    }

    .list-cell:selected {
      -fx-background-color: variables.$primary-color;
    }

    &:editable .arrow-button {
      -fx-background-color: variables.$component-background-color;
    }

    .text-input {
      -fx-border-color: variables.$component-border-color;
      -fx-border-width: variables.$component-border-width;
      -fx-border-radius: variables.$component-border-radius;

      -fx-background-color: variables.$textfield-background;

      -fx-text-fill: variables.$component-text-color;
      -fx-prompt-text-fill: variables.$textfield-prompt-color;

      -fx-font-size: variables.$textfield-font-size;
    }
}

.combo-box > .list-cell {
    -fx-font-weight: bold;
}

.combo-box > .list-cell:selected {
  -fx-background-color: variables.$component-background-color;
}
