@use "variables";

.combo-box {
    -fx-background-color: variables.$component-background-color;
    -fx-padding: 0 8;
    -fx-background-radius: variables.$component-border-radius;
    -fx-font-size: variables.$component-text-size;
    -fx-text-fill: variables.$component-text-color;
    -fx-effect: null;
    -fx-pref-height: 30px;

    .arrow-button {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
        -fx-padding: 0 4px 0 4px;

        .arrow {
            -fx-background-color: variables.$component-text-color;
            -fx-shape: "M7 10l5 5 5-5z";
            -fx-pref-width: 10px;
            -fx-pref-height: 6px;
            -fx-max-width: 10px;
            -fx-max-height: 6px;
        }
    }

    .list-cell {
        -fx-background-color: transparent;
        -fx-text-fill: variables.$component-text-color;
        -fx-font-size: variables.$component-text-size;
        -fx-padding: 0;
    }

    .list-cell:empty {
        -fx-opacity: 1;
    }

    &:hover {
        -fx-background-color: variables.$component-hover-background-color;
    }

    &:showing {
        .arrow-button {
            .arrow {
                -fx-rotate: 180;
            }
        }
    }
}

.combo-box-popup {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.10), 16, 0, 0, 4);

    .list-view {
        -fx-background-color: variables.$component-background-color;
        -fx-background-radius: variables.$component-border-radius;
        -fx-border-radius: variables.$component-border-radius;
        -fx-padding: 4px;
        -fx-effect: null;
    }

    .list-cell {
        -fx-background-color: transparent;
        -fx-text-fill: variables.$component-text-color;
        -fx-font-size: variables.$component-text-size;
        -fx-padding: 7px 10px;
        -fx-cell-size: 34px;

        &:hover {
            -fx-background-color: variables.$component-hover-background-color;
        }

        &:selected {
            -fx-background-color: variables.$primary-color;
            -fx-text-fill: variables.$component-text-color;
            -fx-font-weight: 500;
            -fx-effect: null;

            &:hover {
                -fx-background-color: variables.$primary-color-hover !important;
            }
        }

        &:empty {
            -fx-background-color: transparent;
            -fx-border-color: transparent;
        }
    }
}
