@use "variables";

.dialog-pane {
    &:header *.header-panel {
        -fx-background-color: rgb(70, 70, 70);
    }

    &.information, &.confirmation, &.text-input-dialog {
        &:header *.header-panel {
            -fx-background-color: variables.$primary-color;
        }
    }

    &.warning {
        &:header *.header-panel {
            -fx-background-color: variables.$warning-color;

            .text {
                -fx-fill: #000000;
            }
        }
    }

    &.error {
        &:header *.header-panel {
            -fx-background-color: variables.$danger-color;
        }
    }

    *.error-label {
        -fx-text-fill: variables.$danger-color;
    }

    .details-button {
        .text {
            -fx-fill: variables.$component-text-color;
        }
    }

    .expandable-content {
        -fx-padding: 0;
    }
}