@use "variables";

.dialog-pane {
  &:header *.header-panel {
    -fx-background-color: rgb(70, 70, 70);
  }

  *.error-label {
    -fx-text-fill: variables.$danger-color;
  }

  .details-button {
    .text {
      -fx-fill: variables.$component-text-color;
    }
  }

  .expandable-content {
    -fx-padding: 0;
  }
}