@use "variables";

.list-view {
    -fx-background-color: darken(variables.$component-background-color, 10%);
    -fx-background-radius: variables.$popup-border-radius;
    -fx-border-color: variables.$popup-border-color;
    -fx-border-width: 1;
    -fx-border-radius: variables.$popup-border-radius;
    -fx-padding: 4;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;

    .list-cell {
        -fx-background-color: transparent;
        -fx-background-radius: variables.$component-border-radius;
        -fx-padding: 6 10;
        -fx-text-fill: variables.$component-text-color;
        -fx-opacity: 1;

        > .label {
            -fx-text-fill: variables.$component-text-color;
        }

        &:filled:hover {
            -fx-background-color: variables.$popup-hover-color;
            -fx-background-radius: variables.$component-border-radius;
        }

        &:filled:selected {
            -fx-background-color: variables.$primary-color;
            -fx-background-radius: variables.$component-border-radius;
            -fx-text-fill: variables.$component-text-color;
        }

        &:filled:selected:hover {
            -fx-background-color: variables.$primary-color;
            -fx-background-radius: variables.$component-border-radius;
        }

        &:filled:focused:selected {
            -fx-background-color: variables.$primary-color;
            -fx-background-radius: variables.$component-border-radius;
        }

        &:filled:selected:disabled,
        &:filled:disabled {
            -fx-opacity: 0.5;
        }
    }
}
