@use "variables";

.list-view {
    -fx-background-color: variables.$component-background-color-dark;
    -fx-background-radius: variables.$component-border-radius;
    -fx-border-color: variables.$component-border-color-dark;
    -fx-border-width: 1;
    -fx-border-radius: variables.$component-border-radius;
    -fx-padding: 4;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;

    .list-cell {
        -fx-background-color: transparent;
        -fx-background-radius: variables.$component-border-radius;
        -fx-padding: 6 10;
        -fx-text-fill: variables.$component-text-color;
        -fx-opacity: 1;

        .label {
            -fx-text-fill: variables.$component-text-color;
        }

        &:filled:hover {
            -fx-background-color: variables.$component-border-color-dark-hover;
        }

        &:filled:selected,
        &:filled:selected:hover,
        &:filled:focused:selected {
            -fx-background-color: variables.$primary-color;
            -fx-text-fill: variables.$component-text-color;
        }

        &:filled:selected:disabled,
        &:filled:disabled {
            -fx-opacity: 0.5;
        }
    }
}
