@use "variables";

.menu-button {
    -fx-background-color: variables.$component-background-color;
    -fx-text-fill: variables.$component-text-color;
    -fx-background-radius: 3px;
    -fx-border-width: 0;
    -fx-pref-height: 30px;

    &:hover {
        -fx-background-color: variables.$component-hover-background-color;
        -fx-text-fill: variables.$component-text-color !important;
    }

    &:default {
        -fx-background-color: variables.$primary-color;
        -fx-text-fill: variables.$component-text-color !important;
    }
}
