@use "variables";
@use 'sass:color';

.menu-bar {
    -fx-background-color: variables.$background-color;
    -fx-padding: 0 8;

    // Menu Button inside Menu Bar
    > .container > .menu-button {
        -fx-background-color: transparent;
        -fx-background-radius: variables.$border-radius-sm;
        -fx-text-fill: variables.$component-text-color;
        -fx-font-size: variables.$component-text-size;
        -fx-padding: 4 10;

        &:hover {
            -fx-background-color: variables.$popup-hover-color;
        }

        &:showing {
            -fx-background-color: variables.$primary-color;
        }
    }
}

.context-menu {
    -fx-background-color: variables.$component-background-color;
    -fx-background-radius: variables.$popup-border-radius;
    -fx-border-color: variables.$popup-border-color;
    -fx-border-width: 1;
    -fx-border-radius: variables.$popup-border-radius;
    -fx-padding: 4;

    > .background,
    .menu-item-container,
    .context-menu-content {
        -fx-background-color: variables.$component-background-color;
        -fx-background-radius: variables.$popup-border-radius;
    }

    .separator {
        -fx-padding: 3 0;

        > .line {
            -fx-border-color: variables.$seperator-color;
            -fx-border-width: 0.5 0 0 0;
            -fx-padding: 0;
        }
    }
}

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: variables.$component-border-radius;
    -fx-padding: 6 10;

    &:hover,
    &:focused {
        -fx-background-color: variables.$primary-color;
        -fx-background-radius: variables.$component-border-radius;
    }

    > .label {
        -fx-text-fill: variables.$component-text-color;
        -fx-font-size: variables.$component-text-size;
        -fx-font-weight: normal;
    }

    &:hover > .label,
    &:focused > .label {
        -fx-text-fill: variables.$component-text-color;
    }

    &:disabled > .label {
        -fx-text-fill: variables.$component-text-color-deactivated;
    }

    &.danger:hover, &.danger:focused {
        -fx-background-color: variables.$danger-color;
    }

    > .accelerator-text {
        -fx-text-fill: variables.$component-text-color-hint;
        -fx-font-size: variables.$component-text-size-sm;
        -fx-padding: 0 0 0 24;
    }

    > .graphic-container {
        -fx-padding: 0 8 0 0;
    }
}

.menu {
    -fx-background-color: transparent;
    -fx-background-radius: variables.$component-border-radius;
    -fx-padding: 6 10 6 12;

    &:hover,
    &:focused,
    &:showing {
        -fx-background-color: variables.$primary-color;
        -fx-background-radius: variables.$component-border-radius;
    }

    > .label {
        -fx-text-fill: variables.$component-text-color;
        -fx-font-size: variables.$component-text-size;
        -fx-font-weight: normal;
    }

    &:hover > .label,
    &:focused > .label,
    &:showing > .label {
        -fx-text-fill: variables.$component-text-color;
    }

    &:hover > .arrow-button > .arrow,
    &:focused > .arrow-button > .arrow,
    &:showing > .arrow-button > .arrow {
        -fx-background-color: variables.$component-text-color;
    }

    > .graphic-container {
        -fx-padding: 0 8 0 0;
    }
}


.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    -fx-background-color: variables.$primary-color;
    -fx-padding: 3;
}
