@use "variables";

.menu-bar {
    -fx-background-color: variables.$background-color;

    .menu-button {
        -fx-background-color: variables.$background-color;
    }

    .menu:showing, .menu:hover {
        -fx-background-color: variables.$primary-color;
        -fx-background-radius: 0px;
    }
}

.menu-item {
    -fx-font-size: 12px;

    &:selected, &:focused {
        -fx-background-color: variables.$primary-color;
    }
}