@use "variables";

.notification-pane {
    .notification-bar {
        -fx-background-color: rgb(29, 56, 87);

        .label {
            -fx-text-fill: #CCCCCC;
        }
    }
}

.notification-pane.warning {
    .notification-bar {
        -fx-background-color: variables.$notification-warning-color;

        .label {
            -fx-text-fill: black;
        }
    }
}

.notification-pane.top .notification-bar > .pane {
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(85, 85, 85);
}

.notification-pane .notification-bar > .pane .label {
    -fx-padding: 0 0 0 14px;
}

.notification-pane .notification-bar > .pane .close-button {
    -fx-alignment: center;
}

.notification-pane .notification-bar > .pane .close-button:hover {
    -fx-background-color: variables.$component-hover-background-color;
    -fx-text-fill: variables.$component-text-color !important;
}