@use "variables";

.progress-indicator {
    -fx-progress-color: variables.$on-primary-color;

    .spinner {
        -fx-border-width: 0;
    }

    .percentage {
        -fx-fill: variables.$on-primary-color;
    }
}
