@use "variables";

.radio-button {
    .radio {
        -fx-background-color: transparent;
        -fx-background-insets: 1;
        -fx-border-color: variables.$component-border-color;
        -fx-border-radius: 30px;
        -fx-border-width: 2px;
    }

    .dot {
        -fx-background-color: transparent;
        -fx-background-insets: 0 0 0 0 0, 0;
        -fx-padding: 0.333333em;
        -fx-shape: "M-1,0a1,1 0 1,0 2,0a1,1 0 1,0 -2,0";
        -fx-scale-x: 1.5;
        -fx-scale-y: 1.5;
    }

    &:hover, &:focused {
        .radio {
            -fx-border-color: variables.$primary-color-hover;
        }
    }

    &:selected {
        .dot {
            -fx-background-color: variables.$component-border-color;
        }

        .radio {
            -fx-background-color: variables.$control-indicator-color;
        }

        &:hover {
            .radio {
                -fx-border-color: variables.$primary-color-hover;
            }

            .dot {
                -fx-background-color: variables.$primary-color-hover;
            }
        }
    }
}
