@use "variables";

.scroll-bar {
    -fx-background-color: transparent;

    &:horizontal .track,
    &:vertical .track {
        -fx-background-color: variables.$component-background-color-dark;
        -fx-border-color: transparent;
        -fx-background-radius: 2em;
    }

    &:horizontal .increment-button,
    &:horizontal .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
        -fx-padding: 0 0 12 0;
    }

    &:vertical .increment-button,
    &:vertical .decrement-button {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
        -fx-padding: 0 12 0 0;
    }

    .increment-arrow,
    .decrement-arrow {
        -fx-shape: " ";
        -fx-padding: 0;
    }

    &:horizontal .thumb,
    &:vertical .thumb {
        -fx-background-color: variables.$component-background-color-light;
        -fx-background-insets: 2;
        -fx-background-radius: 2em;
    }

    &:horizontal .thumb:hover,
    &:vertical .thumb:hover {
        -fx-background-color: variables.$component-background-color-hover;
    }
}
