@import "variables";

.settings-category-box {
  -fx-background-color: $settings-background-color;
}

.settings-category {
  -fx-background-color: $settings-background-color;
  -fx-padding: 7px 14px 7px 14px;
  -fx-alignment: top-left;
  -fx-background-radius: 7px;

  .icon {
    -fx-fill: $settings-selected-background-color;
  }

   .settings-category-icon-warning .icon {
    -fx-fill: $settings-warning-color;
  }

  .settings-category-label {
    -fx-text-fill: $settings-selected-background-color;
    -fx-font-size: 14px;
  }

  &:selected, &:focused {
    -fx-background-color: $settings-selected-background-color;

    .icon {
      -fx-fill: $settings-background-color;
    }

    .settings-category-icon-warning .icon {
      -fx-fill: $settings-warning-color;
    }

    .settings-category-label {
      -fx-text-fill: $settings-background-color;
    }

    &:hover {
      -fx-background-color: $settings-selected-background-color;

      .icon {
        -fx-fill: $settings-background-color;
      }

       .settings-category-icon-warning .icon {
        -fx-fill: $settings-warning-color;
      }

      .settings-category-label {
        -fx-text-fill: $settings-background-color;
      }
    }
  }

  &:hover {
    -fx-background-color: #224A8E;

    .icon {
      -fx-fill: $settings-selected-background-color;
    }

     .settings-category-icon-warning .icon {
      -fx-fill: $settings-warning-color;
    }

    .settings-category-label {
      -fx-text-fill: $settings-selected-background-color;
    }
  }
}