@use "variables";

.settings-entry-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.settings-category-box {
  -fx-background-color: variables.$primary-color;
}

.settings-category {
  -fx-background-color: variables.$primary-color;
    -fx-padding: 7px 14px 7px 14px;
    -fx-alignment: top-left;
    -fx-background-radius: 7px;

    .icon {
      -fx-fill: variables.$settings-selected-background-color;
    }

    .settings-category-icon-warning .icon {
      -fx-fill: variables.$settings-warning-color;
    }

    .settings-category-label {
      -fx-text-fill: variables.$settings-selected-background-color;
        -fx-font-size: 14px;
    }

    &:selected, &:focused {
      -fx-background-color: variables.$settings-selected-background-color;

        .icon {
          -fx-fill: variables.$primary-color;
        }

        .settings-category-icon-warning .icon {
          -fx-fill: variables.$settings-warning-color;
        }

        .settings-category-label {
          -fx-text-fill: variables.$primary-color;
        }

        &:hover {
          -fx-background-color: variables.$settings-selected-background-color;

            .icon {
              -fx-fill: variables.$primary-color;
            }

            .settings-category-icon-warning .icon {
              -fx-fill: variables.$settings-warning-color;
            }

            .settings-category-label {
              -fx-text-fill: variables.$primary-color;
            }
        }
    }

    &:hover {
      -fx-background-color: variables.$primary-color;

        .icon {
          -fx-fill: variables.$settings-selected-background-color;
        }

        .settings-category-icon-warning .icon {
          -fx-fill: variables.$settings-warning-color;
        }

        .settings-category-label {
          -fx-text-fill: variables.$settings-selected-background-color;
        }
    }
}