@use "variables";

.spinner {
    -fx-border-color: variables.$component-border-color;
    -fx-border-width: variables.$component-border-width;
    -fx-border-radius: variables.$component-border-radius;
    -fx-background-radius: variables.$component-border-radius;

    .increment-arrow-button, .decrement-arrow-button {
        -fx-background-color: variables.$component-background-color;
        -fx-text-fill: variables.$component-text-color;
        -fx-background-radius: 0px;
        -fx-font-size: variables.$component-text-size;
        -fx-border-width: 0;

        &:focused {
            -fx-background-color: variables.$primary-color;
            -fx-text-fill: variables.$component-text-color;
        }

        &:hover {
            -fx-background-color: variables.$component-hover-background-color;
            -fx-text-fill: variables.$component-text-color;
        }
    }

    .increment-arrow-button {
        -fx-background-radius: 0 variables.$component-border-radius 0 0;
    }

    .decrement-arrow-button {
        -fx-background-radius: 0 0 variables.$component-border-radius 0;
    }

    .text-field {
        -fx-background-color: variables.$component-background-color;
        -fx-border-width: 0;
        -fx-background-radius: variables.$component-border-radius 0 0 variables.$component-border-radius;
    }

    .text-field:focused, .text-field:hover {
        -fx-background-color: variables.$component-hover-background-color;
    }
}
