@use "variables";

.table-view {
    -fx-background-color: variables.$component-background-color-dark;
    -fx-background-radius: variables.$component-border-radius-lg;
    -fx-border-color: $component-border-color-dark;
    -fx-border-width: 1;
    -fx-border-radius: variables.$component-border-radius-lg;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 4;

    .column-header-background {
        -fx-background-color: variables.$component-background-color;
        -fx-background-insets: 0;
        -fx-background-radius: variables.$component-border-radius;
    }

    .column-header, .filler {
        -fx-background-color: transparent;
        -fx-background-insets: 0;
        -fx-border-color: transparent transparent variables.$seperator-color-on-background transparent;
        -fx-border-width: 0 0 1 0;
        -fx-padding: 6 10;
        -fx-size: 2.5em;

        .label {
            -fx-text-fill: variables.$component-text-color;
            -fx-font-weight: bold;
            -fx-alignment: center-left;
        }

        .arrow {
            -fx-background-color: variables.$component-text-color;
        }
    }
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: variables.$component-border-radius;
    -fx-text-fill: variables.$component-text-color;

    &:odd {
        -fx-background-color: transparent;
    }

    &:hover {
        -fx-background-color: $component-border-color-dark-hover;
    }

    &:selected, &:focused:selected {
        -fx-background-color: variables.$primary-color;
    }

    &:selected:hover {
        -fx-background-color: variables.$primary-color-hover;
    }
}

.table-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: variables.$component-text-color;
    -fx-padding: 6 10;

    &:selected {
        -fx-background-color: transparent;
    }

    &:deactivated {
        -fx-text-fill: variables.$component-text-color-deactivated;
    }
}
