@use "variables";

.tab-pane {
    &:top *.tab-header-background {
        -fx-background-color: #333333;
    }

    &:top *.tab {
      -fx-background-color: variables.$component-background-color;

        &:selected {
          -fx-background-color: variables.$primary-color;
            -fx-focus-color: transparent;
            -fx-faint-focus-color: transparent;
        }
    }
}