@use "variables";

.text-field {
    -fx-background-color: variables.$component-background-color;
    -fx-border-color: variables.$component-border-color-light;
    -fx-border-width: variables.$component-border-width;
    -fx-border-radius: variables.$component-border-radius;


    -fx-text-fill: variables.$component-text-color;
    -fx-prompt-text-fill: variables.$textfield-prompt-color;
    -fx-font-size: variables.$component-text-size;

    &:hover, &:focused {
        -fx-border-color: variables.$component-border-color-light-hover;
    }

    &:disabled {
        -fx-opacity: 0.5;
    }

    &:error {
        -fx-border-color: variables.$danger-color;
    }
}
