@use "variables";

.text-field {
    -fx-border-color: variables.$component-border-color;
    -fx-border-width: variables.$component-border-width;
    -fx-border-radius: variables.$component-border-radius;

    -fx-background-color: variables.$textfield-background;

    -fx-text-fill: variables.$component-text-color;
    -fx-prompt-text-fill: variables.$textfield-prompt-color;

    -fx-font-size: variables.$textfield-font-size;

    &:error {
        -fx-border-color: red !important;
    }
}
