@use "variables";

$levels: (
        success: variables.$success-color,
        info: variables.$primary-color,
        warning: variables.$warning-color,
        error: variables.$danger-color,
);

@mixin level-colors() {
    @each $name, $color in $levels {
        &.#{$name} {
            -fx-background-color: $color;
        }
    }
}

.toast {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 8, 0, 0, 3);

    &:hover {
        -fx-background-color: #FAFAFA;
        -fx-background-radius: 4px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0, 0, 5);
    }

    .accent {
        @include level-colors();
    }

    .icon-circle {
        @include level-colors();
        -fx-background-radius: 50%;
    }

    .title {
        -fx-font-size: 13px;
        -fx-font-weight: bold;
        -fx-text-fill: #212121;
    }

    .message {
        -fx-font-size: 12px;
        -fx-text-fill: #757575;
    }

    .close-button {
        .icon {
            -fx-fill: #999999;
        }

        &:hover {
            -fx-background-color: #CDCDCD;
            -fx-background-radius: 5px;
        }

        -fx-font-size: 20px;
        -fx-cursor: hand;
        -fx-padding: 6;
        -fx-min-width: 20px;
        -fx-min-height: 20px;
    }
}