@use "variables";

.toggle-button {
    -fx-background-color: variables.$component-background-color;
    -fx-text-fill: variables.$component-text-color;

    &:hover {
        -fx-background-color: variables.$component-hover-background-color;
        -fx-text-fill: variables.$component-text-color !important;
    }

    &:selected {
        -fx-background-color: variables.$selected-light-background;
        -fx-text-fill: variables.$selected-light-text !important;
    }
}
