@use "variables";

.toggle-button {
    -fx-background-color: variables.$component-background-color;
    -fx-background-radius: variables.$component-border-radius;
    -fx-text-fill: variables.$component-text-color;
    -fx-font-size: variables.$component-text-size;
    -fx-padding: 6 16 6 16;

    &:hover, &:focused {
        -fx-background-color: variables.$component-background-color-hover;
    }

    &:selected {
        -fx-background-color: variables.$selected-light-background;
        -fx-text-fill: variables.$selected-light-text !important;

        .icon {
            -fx-fill: variables.$selected-light-text;
        }

        &:hover, &:focused {
            -fx-background-color: variables.$selected-light-background-hover;
        }
    }
}
