@use "../components/variables";

.launch-dialog--list {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.launch-dialog--project-name {
    -fx-font-size: 14px;
    -fx-text-fill: variables.$component-text-color;
    -fx-font-weight: bold;
}