@use "../components/variables";

.project-loading--overlay {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.project-loading--box {
    -fx-background-color: variables.$component-border-color;
    -fx-padding: 20;
    -fx-background-radius: variables.$popup-border-radius;
}

.project-loading--progres-bar .track {
    -fx-background-radius: 2px;
    -fx-base: variables.$background-color;
    -fx-background-color: rgba(variables.$background-color, 0.67);
}

.project-loading--progres-bar .bar {
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.25em;

    -fx-background-color: #FFFFFF;
}

.project-loading--label {
    -fx-text-fill: variables.$background-color;
}
