@use "../components/variables";

.project-management--project-name {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.project-management--circle {
    -fx-fill: variables.$primary-color;
}